@charset "utf-8";
/* CSS Document */

body {
    background-color:  #699c20;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	font-size: 1.2rem;
}

.appContainer {
	max-width: 1000px;
    margin: 15px auto;
    background-color: #f9f7ec;
    border: 3px #AE3226 solid;
    padding: 10px;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.appContainer h3 {
	text-transform: uppercase;
	text-align: center;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #AE3226;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#jungleConditionsButton {
	
    background-color: rgb(133, 38, 29);
    border-radius: 28px;
    border: 1px solid rgb(120, 32, 24);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 17px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: rgb(120, 32, 24) 0px 1px 0px;
}

#jungleConditionsButton:hover {
	background-color: rgb(189, 42, 42);
}

footer {
    font-size: 10px;
    max-width: 1000px;
    margin: auto;
}